@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Zen+Dots&display=swap');

/* Define your variable */
:root {
  --zen-dots-font-family: "Zen Dots", sans-serif; 
  --inter-font-family:"Inter", sans-serif:
}
body{
  /* width: 100% !important; */
  overflow-x: hidden;

}
.App{
  margin: 0px;
  padding: 0px;
}

.connectWalletBtn{
  background-image: linear-gradient(to right, #ED213A,#FD1640);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--inter-font-family);
  /* width: 150px;
  height: 50px; */
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
}
@media screen and (max-width:991px) {
  .connectWalletBtn{
    margin-top: 1rem;
  }
}
.single-image{

}

